<% for (var i = 0; i < items.length; i++) { %>
    <div>
        <h2><%= items[i].file %></h2>
        <ul>
            <li>Lat: <%= items[i].lat %></li>
            <li>Long: <%= items[i].long %></li>
        </ul>
    </div>
<% } %>
